<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoBlaze Suite">

<listeners>
    <listener class-name="com.demoblaze.listeners.ExtentTestListener"/>
</listeners>

    <test name="Demoblaze Functional Tests">
        <packages>
            <package name="com.demoblaze.testcases"/>
        </packages>
    </test>

</suite>
